<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List App</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="shopping-list">
    <div class="header">
      <h1>
        {{ header ? header.toLocaleUpperCase() : 'welcome!'  }}
      </h1>

      <button class="btn btn-primary"
      v-if="state === 'default'"
      @click="changeState('edit')"
      >Open Add Item form</button>

      <button class="btn btn-cancel"
      v-if="state === 'edit'"
      @click="changeState('default')"
      >Close Add Item form</button>

    </div>

    <div class="add-item-form"
    v-if="state === 'edit'"
    >

      <input type="text" placeholder="Add an Item" 
      v-model="newItem"  
      @keyup.enter="saveItem"
      >

      <button class="btn btn-primary" 
      @click="saveItem"
      >Save Item</button>

    </div>

    <ul>

      <li 
      v-for="item in items"
      >
        {{ item }}
      </li>

    </ul>

    <p v-if="items.length === 0">You don't have any Items</p>
    
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script>
    const shoppingList = new Vue({
      el: '#shopping-list',
      data: {
        header: 'Sopping List App',
        items : [
          '10 party hats',
          '2 board games',
          '20 cups',
        ],
        newItem: '',
        state: 'default',
      },
      methods: {
        saveItem: function() {
          this.items.push(this.newItem)
          this.newItem = ''
        },
        changeState: function(state) {
          this.state = state
          this.newItem = ''
        }
      },
    })
  </script>
</body>
</html>